footer {
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

footer.maxw-690 {
    overflow: visible;
}

footer button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    background: 0;
    background: #db463e;
}

#post-btn {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -23px;
    background: white;
}