#market_location {
    margin-bottom: 10px;
}

#market_location img {
    margin-right: 6px;
    vertical-align: middle;
}

.squareSelection {
    padding: 10px;
}



.squareSelection img {
    display: inline-block;
    box-sizing: content-box;
    border-radius: 10px;
    margin: 5px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border: 2px solid var(--main-contrast);
    box-shadow: 0 0 10px var(--second-contrast-50);
    filter: grayscale(1);
}

.squareSelection img:first-of-type {
    margin-left: 0;
}

.squareSelection img:last-of-type {
    margin-right: 0;
}

.squareSelection img:hover,
.squareSelection .selected {
    filter: grayscale(0);
    border-color: var(--second-contrast)
}

.market_type {
    font-size: 23px;
    font-family: 'Dosis', Arial, sans-serif !important;
    text-transform: uppercase;
}

#marketDescription {
    padding: 10px 23px;
}

#subcategories div {
    display: inline-block;
    padding: 16px;
    background: var(--second-contrast-15);
    border-radius: 23px;
    margin: 10px;
    cursor: pointer
}

#subcategories div:hover {
    background: var(--second-contrast-23);
}


#marketTypeSwitch:not(:checked)+label+.squareSelection #nft,
#marketTypeSwitch:checked+label+.squareSelection #regular {
    display: block
}


@media screen and (min-width: 950px) {
    .squareSelection {
        width: auto
    }
}