#subheader {
    position: sticky !important;
    top: 42px
}

#subheader nav {
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
}

#filters {
    padding: 12px 10px 23px 10px;
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

#filters input {
    display: none
}

#filters label {
    margin: 2%;
    border-radius: 51%;
    cursor: pointer;
    background: var(--second-contrast-15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.23s background
}

#filters label:hover,
#filters input:checked+label {
    background: var(--red-balance);
}

#filters label img {
    min-width: 50%;
    max-height: 50%;
    transition: 0.23s filter
}

#filters input:checked+label img,
#filters label:hover img {
    filter: invert(1)
}

@media screen and (min-width: 950px) {
    #filters label {
        margin: 23%;
    }

    #filters label img {
        min-width: 32%;
        max-height: 32%;
    }
}