h1 {
    margin-top: 23px;
}

.world_map {
    display: block;
    width: 100%;
    border-radius: 23px;
    padding: 10px
}

.systems_status {
    display: block;
    margin: 23px 5px 0 0;
}

.systems_status i {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px 0 0;
    border-radius: 9px;
    background: lime;
}