h1 {
    margin-top: 23px;
}

.world_map {
    display: block;
    width: 100%;
    border-radius: 23px;
    padding: 10px
}

.systems_status {
    display: block;
    margin: 23px 5px 0 0;
}

.systems_status i {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px 0 0;
    border-radius: 9px;
    background: lime;
}

.byType b {
    display: inline-block;
    padding: 23px 15px;
    border-radius: 10px;
    margin: 10px 5px;
    text-align: center;
}

.byType b img {
    display: block;
    margin: 0 auto 10px auto
}

.you td,
.you a {
    font-weight: bold;
    color: var(--second-contrast);
    font-size: 11px;
}

.binaryCheckbox {
    display: inline-block;
    margin: 0 0 5px 0;
    position: relative;
    padding: 5px
}

.binaryCheckbox label {
    content: '';
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.23s;
}

.binaryCheckbox span {
    padding: 8px 16px;
    border-radius: 50px;
    margin: 0 10px;
    display: inline-block;
}

.binaryCheckbox span:first-of-type,
.binaryCheckbox span:hover,
.binaryCheckbox input:checked+label span:last-of-type {
    background: var(--second-contrast-15);
}

.binaryCheckbox input:checked+label span:first-of-type {
    background: none
}

#followship {
    margin-bottom: 90px;
}

/*Canvas */

#worldCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    mix-blend-mode: difference;
}

#particlesCanvas {
    width: 100%;
    height: 100%;
}

#particlesCanvas+img {
    width: 128px;
    height: 128px;
    position: absolute;
    top: calc(50% - 64px);
    left: 0;
    right: 0;
    margin: 0 auto
}

.byType {
    margin-top: 80%
}


@media screen and (min-width: 950px) {

    #particlesCanvas {
        width: 100%;
        top: 0
    }

    #particlesCanvas+img {
        top: calc(50% - 64px);
    }
}